extends layout

block content
    form#formDraft(name="gotodraft",method="get",action="/newuser")
        button#btnDraft(type="submit") Adam Almak Icin Tiklayin
            script.
                $("#btnDraft").click(function(event) {event.preventDefault();$("#formDraft, .slide2, #grup").fadeOut(500, function(){$("#formDraft").submit();});});
    .slide2
      h1 INANILMAZ DRAFT SITESI
    #grup
        #kamil
            h2 kamil
            ul
                each user in kamil
                    li
                        p=user.username
        #jr
            h2 jr
            ul
                each user in jr
                    li
                        p=user.username
            script.
                var listLi = document.querySelectorAll("#jr li");
                var listLengthJ = listLi.length;
                $("#grup, .slide2, #formDraft").hide();
                $("#grup").delay(1000).fadeIn(500);
                $(".slide2").delay(500).fadeIn(500);
                $("#formDraft").fadeIn(500);
         #okan
            h2 okan
            ul
                each user in okan
                    li
                        p=user.username
        #ulas
            h2 ulas
            ul
                each user in ulas
                    li
                        p=user.username
        #bura
            h2 bura
            ul
                each user in bura
                    li
                        p=user.username
        #emre
            h2 emre
            ul
                each user in emre
                    li
                        p=user.username
        #onur
            h2 onur
            ul
                each user in onur
                    li
                        p=user.username
    script.
        var listKamil = document.querySelectorAll("#kamil li"); var listLengthKamil = listKamil.length;
        var listJr = document.querySelectorAll("#jr li"); var listLengthJr = listJr.length;
        var listOkan = document.querySelectorAll("#okan li"); var listLengthOkan = listOkan.length;
        var listUlas = document.querySelectorAll("#ulas li"); var listLengthUlas = listUlas.length;
        var listBura = document.querySelectorAll("#bura li"); var listLengthBura = listBura.length;
        var listEmre = document.querySelectorAll("#emre li"); var listLengthEmre = listEmre.length;
        var listOnur = document.querySelectorAll("#onur li"); var listLengthOnur = listOnur.length;        
        if (listLengthKamil === listLengthOnur) {document.getElementById("kamil").className += " selected";}
        if (listLengthKamil-1 === listLengthJr) {document.getElementById("jr").className += " selected";}
        if (listLengthJr - 1 === listLengthOkan) {document.getElementById("okan").className += " selected";}
        if (listLengthOkan - 1 === listLengthUlas) {document.getElementById("ulas").className += " selected";}
        if (listLengthUlas - 1 === listLengthBura) {document.getElementById("bura").className += " selected";}
        if (listLengthBura - 1 === listLengthEmre) {document.getElementById("emre").className += " selected";}
        if (listLengthEmre - 1 === listLengthOnur) {document.getElementById("onur").className += " selected";}
